.h1Titulo{
    text-shadow: 2px 2px 5px #ff6bba;
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.grid-container3{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #b084ff;
    padding: 15px;
    justify-content: space-evenly;
}

.grid-container3 > div{
    width: 25vw;
    height: 50vh;
    margin: 15px;
    padding: 15px;
    text-align: center;
    border: 2px solid black;
}

.plano{
    background-color: aquamarine;
}

.gradiente{
    background: linear-gradient(to right, #ff6bba, #84ff94);
}

.fondoImagen{
    background-image: url("../assets/hand-painted-watercolor-pastel-sky-background_23-2148902771.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
